<section id="travaux" class='section'>
    <h1 class="grands_titres">Mes Travaux !</h1>
    <h2 class="sous-titres"><em>Quelques signatures type "manga"</em></h2>
    <div id="real">
        <div class="flexslider carousel">
            <ul class="slides">
                <li data-thumb="img/crea1.jpg">
                    <a class="fancybox" rel="galery1" href="img/crea1.jpg">
                        <img id="créa1" src="img/crea1_s.jpg" alt="créa1">
                    </a>
                </li>
                <li data-thumb="img/crea2.jpg">
                    <a class="fancybox" rel="galery1" href="img/crea2.jpg">
                        <img id="créa2" src="img/crea2_s.jpg" alt="créa2">
                    </a>
                </li>
                <li data-thumb="img/crea3.jpg">
                    <a class="fancybox" rel="galery1" href="img/crea3.jpg">
                        <img id="créa3" src='img/crea3_s.jpg' alt="créa3">
                    </a>
                </li>
                <li data-thumb="img/crea1.jpg">
                    <a class="fancybox" rel="galery1" href="img/crea1.jpg">
                        <img id="créa1" src="img/crea1_s.jpg" alt="créa1">
                    </a>
                </li>
                <li data-thumb="img/crea2.jpg">
                    <a class="fancybox" rel="galery1" href="img/crea2.jpg">
                        <img id="créa2" src="img/crea2_s.jpg" alt="créa2">
                    </a>
                </li>
                <li data-thumb="img/crea3.jpg">
                    <a class="fancybox" rel="galery1" href="img/crea3.jpg">
                        <img id="créa3" src='img/crea3_s.jpg' alt="créa3">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>